/kge
/tests/*
simpful_test.py
test_plotting.py
main_test.py
*.ipynb
*.nt
/home/smejkal/github/kge-w-rule-based-reasoning/data/train_data/*
*.txt
*.del
*.pckl
/search/*
/results/*
logger.log
nohup.out
test_main.py
*.pt
*experiments/*
model*
